DISCORD_TOKEN=YOUR_TOKEN_HERE
USER_ID=YOUR_USER_ID_HERE

# IF YOU ARE INTERESTED IN A BOT HOSTED ON A RASPBERRY PI SERVER USING GITHUB WEBHOOKS
# WEBHOOK_SECRET=YOUR_SECRET_HERE

# IF YOU ARE INTERESTED IN HOOKING IT UP TO MEDAL
# MEDAL_API_KEY=YOUR_API_KEY_HERE